body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: hotpink;
}
.container{
    border:1px solid red;
    display:flex;
    flex-direction: column;
}
.container{ 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.square {
    width:100px;
    height:100px;
 border:1px solid black;
}

#one{flex: 2 1 0;}